#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Gatekeeper</h1>

#{if providers.size() > 1}
    <div class="older-posts">
        <h3>Registered Providers</h3>
    
            <div class="post">
                <table border="1">
                	<tr>
                		<th>Provider</th>
                		<th>Active</th>
                		<th>Website</th>
                		<th>Protocol</th>
                		<th>Created On</th>
                		<th>Modified On</th>
                	</tr>
        #{list items:providers, as:'provider'}
                	<tr>
                		<td>${provider.name}</td>
                		<td>${provider.active}</td>
                		<td>${provider.website}</td>
                		<td>${provider.protocol}</td>
                		<td>${provider.created_at}</td>
                		<td>${provider.updated_at}</td>
                	</tr>
        #{/list}
        </table>
            </div>
#{/if}
    
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}